/media/
/admin_user/migrations/
/flights/migrations/
/packages/migrations/
/messege/migrations/
/payments/migrations/
/resorts/migrations/
/users/migrations/
/visas/migrations/

.env
__pycache__/
*.pyc
